# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.aps

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.msi
*.*pdb*

# VSC Settings
.vscode/*
.vs/*

# Jetbrains
.idea/*

# Build Folders
**/build**/
aws_sdk/*
*.def
**report**

# Test Files
odbc.ini
odbcinst.ini
*.log

# Installer Files
scripts/macOS/postflight.sh
scripts/macOS/ReadMe.html
scripts/macOS/Welcome.html
