name: Release Draft
run-name: aws-advanced-odbc-wrapper Draft Release - ${{ github.ref_name }}

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

permissions:
  id-token: write
  actions: write
  contents: write
  deployments: write
  packages: write
  pull-requests: write
  repository-projects: write

env:
  WIX_VERSION: 5.0.2
  BUILD_CONFIG: Release

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout aws-advanced-odbc-wrapper
        uses: actions/checkout@v4
      - name: Retrieve AWS SDK for C++ Cache
        id: cache-aws-sdk
        uses: actions/cache@v4
        with:
          path: aws_sdk/install
          key: ${{ runner.os }}-aws-sdk-cpp-${{env.BUILD_CONFIG}}
      - name: Build AWS SDK for C++
        if: ${{steps.cache-aws-sdk.outputs.cache-hit != 'true'}}
        run: |
          ./scripts/compile_aws_sdk_win.ps1 ${{env.BUILD_CONFIG}}
          ls ./build/driver/${{env.BUILD_CONFIG}}
      - name: Setup Dotnet for WiX
        uses: actions/setup-dotnet@v4
      - name: Install WiX
        shell: cmd
        run: |
          dotnet tool install --global wix --version ${{env.WIX_VERSION}}
          wix extension add --global WixToolset.UI.wixext/${{env.WIX_VERSION}}
      - name: Run build installer script
        shell: pwsh
        run: |
          ./installer/build_installer.ps1 ${{env.BUILD_CONFIG}}
      - name: Configure AWS credentials OIDC
        uses: aws-actions/configure-aws-credentials@v4.0.2
        with:
          role-skip-session-tagging: true
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_DEPLOY_ROLE }}
          role-session-name: aws-odbc-win-signer
      - name: Configure AWS credentials Signer
        uses: aws-actions/configure-aws-credentials@v4.0.2
        with:
          role-skip-session-tagging: true
          role-chaining: true
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
          role-to-assume: ${{ secrets.AWS_SIGNER_ROLE }}
          role-external-id: ${{ secrets.AWS_SIGNER_ROLE_ID }}
      - name: Run signer script
        shell: pwsh
        working-directory: ./scripts
        run: |
          choco upgrade jq -y
          . ".\sign_artifacts_win.ps1"
          Invoke-SignInstaller ../installer winx64a ${{ github.ref_name }} ${{ secrets.AWS_UNSIGNED_BUCKET }} ${{ secrets.AWS_SIGNED_BUCKET }} ${{ secrets.AWS_S3_KEY }}aws-advanced-odbc-wrapper-${{ github.ref_name }}-winx64a.msi
      - name: Upload installer
        uses: actions/upload-artifact@v4
        with:
          name: installers-windows
          path: ./installer/*winx64a.msi
          retention-days: 5
          if-no-files-found: error

  build-macos:
    runs-on: macos-14
    outputs:
      macos_arm64_ansi: ${{ steps.macos-arm64-ansi.outputs.hash }}
      macos_arm64_unicode: ${{ steps.macos-arm64-unicode.outputs.hash }}
    steps:
      - name: Checkout aws-advanced-odbc-wrapper
        uses: actions/checkout@v4
      - name: Install Build Dependencies
        run: |
          brew update && brew upgrade && brew cleanup
          brew install unixodbc curl openssl zlib
      - name: Retrieve AWS SDK for C++ Cache
        id: cache-aws-sdk
        uses: actions/cache@v4
        with:
          path: aws_sdk/install
          key: ${{ runner.os }}-aws-sdk-cpp-${{env.BUILD_CONFIG}}
      - name: Build AWS SDK for C++
        if: ${{steps.cache-aws-sdk.outputs.cache-hit != 'true'}}
        run: |
          ./scripts/compile_aws_sdk_unix.sh ${{env.BUILD_CONFIG}}
      - name: Build aws-advanced-odbc-wrapper
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_CONFIG}} -DUNIT_TEST=OFF
          cmake --build build
          ls ./build/driver/
      - name: Get Ansi Driver Hash
        id: macos-arm64-ansi
        run: |
          hash=$(shasum -a 256 ${{ github.workspace }}/build/driver/aws-advanced-odbc-wrapper-a.dylib | cut -d' ' -f1)
          echo "hash=${hash}" >> "$GITHUB_OUTPUT"
          echo ${HASH}
      - name: Get Unicode Driver Hash
        id: macos-arm64-unicode
        run: |
          hash=$(shasum -a 256 ${{ github.workspace }}/build/driver/aws-advanced-odbc-wrapper-w.dylib | cut -d' ' -f1)
          echo "hash=${hash}" >> "$GITHUB_OUTPUT"
          echo ${HASH}
      - name: Check Artifacts
        shell: bash
        run:
          ls -l ${{ github.workspace }}/build/driver/
      - name: Package Drivers as Zip
        run:
          zip -rj "aws-advanced-odbc-wrapper-${{ github.ref_name }}-macos-arm64.zip" ${{ github.workspace }}/build/driver/aws-advanced-odbc-wrapper-a.dylib ${{ github.workspace }}/build/driver/aws-advanced-odbc-wrapper-w.dylib
      - name: Upload the ANSI & Unicode driver
        uses: actions/upload-artifact@v4
        with:
          name: installers-macos
          path: |
            aws-advanced-odbc-wrapper-${{ github.ref_name }}-macos-arm64.zip
          retention-days: 5
          if-no-files-found: error

  build-linux:
    runs-on: ubuntu-latest
    outputs:
      linux_x64_ansi: ${{ steps.linux-x64-ansi.outputs.hash }}
      linux_x64_unicode: ${{ steps.linux-x64-unicode.outputs.hash }}
    steps:
      - name: Checkout aws-advanced-odbc-wrapper
        uses: actions/checkout@v4
      - name: Install Build Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install cmake libcurl4-openssl-dev libssl-dev odbcinst unixodbc-dev uuid-dev zlib1g-dev
      - name: Retrieve AWS SDK for C++ Cache
        id: cache-aws-sdk
        uses: actions/cache@v4
        with:
          path: aws_sdk/install
          key: ${{ runner.os }}-aws-sdk-cpp-${{env.BUILD_CONFIG}}
      - name: Build AWS SDK for C++
        if: ${{steps.cache-aws-sdk.outputs.cache-hit != 'true'}}
        run: |
          ./scripts/compile_aws_sdk_unix.sh ${{env.BUILD_CONFIG}}
      - name: Build aws-advanced-odbc-wrapper
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_CONFIG}} -DUNIT_TEST=OFF
          cmake --build build
          ls ./build/driver/
      - name: Get Ansi Driver Hash
        id: linux-x64-ansi
        run: |
          hash=$(sha256sum ${{ github.workspace }}/build/driver/aws-advanced-odbc-wrapper-a.so | cut -d' ' -f1)
          echo "hash=${hash}" >> "$GITHUB_OUTPUT"
          echo ${HASH}
      - name: Get Unicode Driver Hash
        id: linux-x64-unicode
        run: |
          hash=$(sha256sum ${{ github.workspace }}/build/driver/aws-advanced-odbc-wrapper-w.so | cut -d' ' -f1)
          echo "hash=${hash}" >> "$GITHUB_OUTPUT"
          echo ${HASH}
      - name: Check Artifacts
        shell: bash
        run:
          ls -l ${{ github.workspace }}/build/driver/
      - name: Package Drivers as Tar
        shell: bash
        run:
          tar -chf "aws-advanced-odbc-wrapper-${{ github.ref_name }}-linux-x64.tar.gz" --gzip -C ${{ github.workspace }}/build/driver/ aws-advanced-odbc-wrapper-a.so aws-advanced-odbc-wrapper-w.so
      - name: Upload the ANSI & Unicode driver
        uses: actions/upload-artifact@v4
        with:
          name: installers-linux
          path: |
            aws-advanced-odbc-wrapper-${{ github.ref_name }}-linux-x64.tar.gz
          retention-days: 5
          if-no-files-found: error

  draft-release:
    name: Create Draft Release
    runs-on: ubuntu-latest
    needs: [
      build-linux,
      build-macos,
      build-windows
    ]
    env:
      linux_x64_ansi_hash: ${{needs.build-linux.outputs.linux_x64_ansi}}
      linux_x64_unicode_hash: ${{needs.build-linux.outputs.linux_x64_unicode}}
      macos_arm64_ansi_hash: ${{needs.build-macos.outputs.macos_arm64_ansi}}
      macos_arm64_unicode_hash: ${{needs.build-macos.outputs.macos_arm64_unicode}}
    steps:
      - name: Checkout aws-advanced-odbc-wrapper
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Download all installers
        uses: actions/download-artifact@v4.1.7
        with:
          path: installers
          pattern: installers-*
          merge-multiple: true
      - name: Extract release notes
        uses: ffurrer2/extract-release-notes@v2
        with:
          release_notes_file: RELEASE_DETAILS.md
      - name: Append Checksums
        run: |
          cat << EOF >> RELEASE_DETAILS.md

          ### SHA256 Checksums

          - macos-arm64-ansi: \`$macos_arm64_ansi_hash\`
          - macos-arm64-unicode: \`$macos_arm64_unicode_hash\`
          - linux_x64_ansi: \`$linux_x64_ansi_hash\`
          - linux_x64_unicode: \`$linux_x64_unicode_hash\`

          EOF
      - name: Upload to Draft Release
        uses: ncipollo/release-action@v1
        with:
          draft: true
          name: "AWS Advanced ODBC Wrapper - v${{ github.ref_name }}"
          bodyFile: RELEASE_DETAILS.md
          artifacts: "*/*.zip, */*.msi, */*.tar.gz"
